<h1><%= @question.content %></h1>

<ul>
  <li><%= @question.content %></li>
</ul>


<div class="controls">
  <%= link_to 'Edit Question', edit_question_path(@question) %>
  <%= button_to 'Delete Question', @question, :method => 'delete' %>
  <%= link_to 'All Questions', questions_path %>

<p>Answers coming soon</p>
